{% extends "bootstrap/base.html" %}
{% block title %}Flasky{% endblock %}
{% block navbar %}
<div class="navbar navbar-default" role="navigation">
 <div class="container">
   <div class="navbar-header">
     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
       <span class="sr-only">Toggle navigation</span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
     </button>
     <a class="navbar-brand" style="padding:0px;" href="/">
       <img src="{{ url_for('static',filename='YouTube-logo-full_color.png')}}" height="50px"></img>
     </a>
   </div>
   <div class="navbar-collapse collapse">
     <ul class="nav navbar-nav"><li><a href="{{url_for('addVideo')}}">Add Video</a></li></ul> 
     <ul class="nav navbar-nav navbar-right">
       <li>
	 {% if not username is defined: %}
	    <a href="{{url_for('login')}}">Login</a>
	 {% else: %}
	    <a href="{{url_for('logout')}}">Logout</a>
	 {% endif %}
       </li>
     </ul>
   </div>
 </div>
</div>
{% endblock %}
{% block content %}
<div class="container" id="container">
 {% block page_content %}{% endblock %}
</div>
{% endblock %}
